
{{> head }}

{{> navbar}}

    <div class="row">

<div class="col-8">
<h1> Ballena </h1>

<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque officia at beatae corrupti nobis voluptatem cupiditate ratione, nemo amet ad consectetur pariatur unde a optio accusantium debitis reprehenderit ipsa consequuntur.
</p>
</div>

<div class="col-3">
<img src="assets/img/IMG_1620.jpg" class="img-thumbnail">
</div>

    </div>

 {{> footer}}